Repository FraxFinance/frax-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.json --write, forge fmt

.lintstagedrc:

{
  "*.{js,json,ts,yaml,yml}": [
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.sol": [
    "forge fmt", "prettier --config ./.prettierrc.json --write"
  ]
}

Various updates
  .env.EXAMPLE
  .gitignore
  .prettierrc.json
  foundry.toml
  package-lock.json
  package.json
  src/Counter.sol
  test/TestCounter.t.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Update .gitignore
  .gitignore
Due: none

feat: put directories under src/ for easier watching and searching, update foundry.toml
  foundry.toml
  src/contracts/Counter.sol
  src/script/DeployCounter.s.sol
  src/test/.solhint.json
  src/test/TestCounter.t.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

chore: update frax-standard-solidity
  package-lock.json
Due: prettier --config ./.prettierrc.json --write

fix: remove sparse flag as it does not work yet
  foundry.toml
Due: none

fix: remove redundant folder
  test/TestCounter.t.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

feat: add folder for non-solidity scripts
  scripts/someNodeScript.ts
Due: prettier --config ./.prettierrc.json --write

forge install: ds-test
  .gitmodules
Due: none

forge install: forge-std
  .gitmodules
Due: none

forge install: frax-standard-solidity
  .gitmodules
Due: none

chore: cleanup submodules
  .gitmodules
  foundry.toml
  package-lock.json
  package.json
  remappings.txt
Due: prettier --config ./.prettierrc.json --write

Add constants script
  package.json
  scripts/constants/index.ts
  scripts/constants/mainnet.ts
  scripts/generateConstants.ts
Due: prettier --config ./.prettierrc.json --write

chore: update README
  README.md
Due: none

Add pre-commit hook to source control
  .husky/_/.gitignore
  .husky/pre-commit
Due: none

feat: update tests with better structure
  scripts/constants/mainnet.ts
  src/Constants.sol
  src/test/BaseTest.t.sol
  src/test/Counter/TestIncrement.t.sol
  src/test/Counter/TestSetNumber.t.sol
  src/test/Helpers.sol
  src/test/TestCounter.t.sol
  src/test/helpers/.gitkeep
Due: prettier --config ./.prettierrc.json --write, forge fmt

feat: update constants
  README.md
  package-lock.json
  package.json
  scripts/constants/mainnet.ts
Due: prettier --config ./.prettierrc.json --write

feat: extend pragma in constants file
  scripts/generateConstants.ts
Due: prettier --config ./.prettierrc.json --write

build: tsconfig
  tsconfig.json
Due: prettier --config ./.prettierrc.json --write

ops/deploy-instructions
  .env.EXAMPLE
  README.md
  foundry.toml
  package.json
Due: prettier --config ./.prettierrc.json --write

ops: deploy FXBFactory & SlippageAuctionFactory
  scripts/constants/mainnet.ts
  src/Constants.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

pnpm conversion
  .gitmodules
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  remappings.txt
Due: prettier --config ./.prettierrc.json --write

old comments
  README.md
Due: none

add solidity-bytes-utils
  package.json
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc.json --write

add solidity-bytes-utils
  README.md
Due: none

Fix Vanilla Test Cases
  src/test/Counter/TestIncrement.t.sol
  src/test/Counter/TestSetNumber.t.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Fix lint - parser resolution, run in CI
  .github/workflows/test.yml
  .prettierrc.json
  package.json
  src/script/DeployCounter.s.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

run CI
  .github/workflows/main.yml
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc.json --write

Create .npmrc
  .npmrc
Due: none

build: oz 5.0.1 and updated deps
  package.json
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc.json --write

build: add bonds constants
  scripts/constants/mainnet.ts
  src/Constants.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Fix Multiple Setup Counter Tests
  pnpm-lock.yaml
  src/test/Counter/TestSetNumber.t.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

build: fraxtal env and rm evm-version
  .env.EXAMPLE
  foundry.toml
Due: none

ops: basic fraxchain constants
  scripts/constants/fraxchain-deployments.ts
  scripts/constants/fraxchain-devnet-l1.ts
  scripts/constants/fraxchain-devnet-l2.ts
  scripts/constants/fraxchain-mainnet.ts
  scripts/constants/fraxchain-testnet.ts
  scripts/constants/generateConstants.ts
  scripts/constants/holesky.ts
  scripts/constants/index.ts
  scripts/someNodeScript.ts
Due: prettier --config ./.prettierrc.json --write

Use Profiles w/n CI
  .github/workflows/main.yml
  foundry.toml
Due: prettier --config ./.prettierrc.json --write

Update main.yml
  .github/workflows/main.yml
Due: prettier --config ./.prettierrc.json --write

Specify CI to use Test Profile
  .github/workflows/main.yml
Due: prettier --config ./.prettierrc.json --write

chore(scripts): rn frax{chain => tal}X.ts
  scripts/constants/fraxtal-deployments.ts
  scripts/constants/fraxtal-devnet-l1.ts
  scripts/constants/fraxtal-devnet-l2.ts
  scripts/constants/fraxtal-testnet.ts
  scripts/constants/index.ts
  src/Constants.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

revert(config): profile.default via_ir to false
  foundry.toml
Due: none
