Repository FraxFinance/frax-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.json --write, forge fmt

.lintstagedrc:

{
  "*.{js,json,ts,yaml,yml}": [
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.sol": [
    "forge fmt", "prettier --config ./.prettierrc.json --write"
  ]
}

docs: checksum arbitrum gauges
  scripts/constants/mainnet.ts
Due: prettier --config ./.prettierrc.json --write

docs: proxy and comptroller addresses
  scripts/constants/fraxchain-mainnet.ts
  scripts/constants/fraxtal-devnet-l2.ts
  scripts/constants/fraxtal-mainnet.ts
  scripts/constants/fraxtal-standard-proxies.ts
  scripts/constants/fraxtal-testnet.ts
  scripts/constants/index.ts
  src/Constants.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Update package.json to v1.1.3
  package.json
Due: prettier --config ./.prettierrc.json --write

feat: fraxtal test/deploy support
  .env.EXAMPLE
  README.md
  foundry.toml
  package.json
  scripts/constants/fraxtal-deployments.ts
  scripts/constants/fraxtal-l1.ts
  scripts/constants/fraxtal-l2.ts
  scripts/constants/fraxtal-standard-proxies.ts
  scripts/constants/fraxtal-testnet-l1.ts
  scripts/constants/fraxtal-testnet-l2.ts
  scripts/constants/holesky.ts
  scripts/constants/index.ts
  scripts/constants/mainnet.ts
  scripts/generateConstants.ts
  src/Constants.sol
  src/test/BaseTest.t.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

fix(build): foundry.toml
  foundry.toml
Due: none

build: comptroller for fraxtal l1
  scripts/constants/fraxtal-l1.ts
  scripts/constants/fraxtal-testnet-l1.ts
  src/Constants.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

docs: fraxswap, fraxferry, fraxlend, l1vefxs
  package.json
  scripts/constants/fraxtal-l2.ts
  src/Constants.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

docs: fix `FXB_FACTORY` mainnet addr
  scripts/constants/mainnet.ts
Due: prettier --config ./.prettierrc.json --write

Address list 1
  src/addresses/Ethereum.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 2
  src/addresses/Ethereum.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 3
  src/addresses/Ethereum.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 4
  src/addresses/Ethereum.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 5
  src/addresses/Ethereum.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 6
  src/addresses/Ethereum.sol
  src/addresses/Fraxtal_Mainnet.sol
  src/addresses/TEMPLATE.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 7
  src/addresses/Arbitrum.sol
  src/addresses/Ethereum.sol
  src/addresses/Fraxtal_Mainnet.sol
  src/addresses/TEMPLATE.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 8
  src/addresses/Arbitrum.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 9
  src/addresses/Optimism.sol
  src/addresses/TEMPLATE.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 10
  src/addresses/Optimism.sol
  src/addresses/Polygon.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 11
  src/addresses/Avalanche.sol
  src/addresses/BSC.sol
  src/addresses/Fantom.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 12
  src/addresses/Moonbeam.sol
  src/addresses/Moonriver.sol
  src/addresses/Polygon_zkEVM.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Address list 13
  src/addresses/Fraxtal_L1_Devnet.sol
  src/addresses/Fraxtal_L2_Devnet.sol
  src/addresses/Holesky.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Fix fraxtal devnet/testnet addresses
  src/addresses/Ethereum.sol
  src/addresses/Fraxtal_L1_Devnet.sol
  src/addresses/Fraxtal_Testnet.sol
  src/addresses/Holesky.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Update src/addresses/Ethereum.sol
  src/addresses/Ethereum.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Update src/addresses/Fraxtal_Mainnet.sol
  src/addresses/Fraxtal_Mainnet.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

misc Fraxtal addrs
  src/addresses/Ethereum.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Fraxlend Pairs + L2 ERC4626 Oracles & proofers
  src/addresses/Arbitrum.sol
  src/addresses/Ethereum.sol
  src/addresses/Fraxtal_Mainnet.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

🤦🏼‍♀️
  src/addresses/Ethereum.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Add version numbers to impls
  scripts/constants/fraxtal-l2.ts
  src/Constants.sol
  src/addresses/Ethereum.sol
  src/addresses/Fraxtal_Mainnet.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

package.json to v1.3.0
  package.json
Due: prettier --config ./.prettierrc.json --write

address cleanup 1
  scripts/constants/fraxtal-devnet-l1.ts
  scripts/constants/fraxtal-devnet-l2.ts
  scripts/constants/fraxtal-l1.ts
  scripts/constants/fraxtal-l2.ts
  scripts/constants/fraxtal-standard-proxies.ts
  scripts/constants/fraxtal-testnet-l1.ts
  scripts/constants/fraxtal-testnet-l2.ts
  scripts/constants/holesky.ts
  scripts/constants/mainnet.ts
  src/addresses/Fraxtal_L1_Devnet.sol
  src/addresses/Fraxtal_L2_Devnet.sol
  src/addresses/Fraxtal_Mainnet.sol
  src/addresses/Fraxtal_Testnet.sol
  src/addresses/Holesky.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

address cleanup 2
  scripts/constants/TEMPLATE.ts
  scripts/constants/arbitrum.ts
  scripts/constants/avalanche.ts
  scripts/constants/bsc.ts
  scripts/constants/fantom.ts
  scripts/constants/moonbeam.ts
  scripts/constants/moonriver.ts
  scripts/constants/optimism.ts
  scripts/constants/polygon-zkevm.ts
  scripts/constants/polygon.ts
  src/addresses/Arbitrum.sol
  src/addresses/Avalanche.sol
  src/addresses/BSC.sol
  src/addresses/Ethereum.sol
  src/addresses/Fantom.sol
  src/addresses/Moonbeam.sol
  src/addresses/Moonriver.sol
  src/addresses/Optimism.sol
  src/addresses/Polygon.sol
  src/addresses/Polygon_zkEVM.sol
  src/addresses/TEMPLATE.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

address cleanup rough draft
  scripts/constants/index.ts
  scripts/generateConstants.ts
  src/Constants.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Bring in L2 Rate Contract Addresses
  scripts/constants/fraxtal-l2.ts
  src/Constants.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Update fraxtal-l2.ts
  scripts/constants/fraxtal-l2.ts
Due: prettier --config ./.prettierrc.json --write

Updated FPISLocker addresses
  scripts/constants/fraxtal-l2.ts
Due: prettier --config ./.prettierrc.json --write

Update Constants.sol
  src/Constants.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

merge cleanup
  src/Constants.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

updated ve-related addresses
  scripts/constants/fraxtal-l2.ts
  src/Constants.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

yd address fix
  scripts/constants/fraxtal-l2.ts
Due: prettier --config ./.prettierrc.json --write

generated constants' sol files separated by chain
  scripts/constants/generateConstants.ts
  scripts/generateConstants.ts
  src/contracts/chain-constants/Arbitrum.sol
  src/contracts/chain-constants/Avalanche.sol
  src/contracts/chain-constants/BSC.sol
  src/contracts/chain-constants/Fantom.sol
  src/contracts/chain-constants/FraxtalL1Devnet.sol
  src/contracts/chain-constants/FraxtalL2.sol
  src/contracts/chain-constants/FraxtalL2Devnet.sol
  src/contracts/chain-constants/FraxtalTestnetL1.sol
  src/contracts/chain-constants/FraxtalTestnetL2.sol
  src/contracts/chain-constants/Holesky.sol
  src/contracts/chain-constants/Mainnet.sol
  src/contracts/chain-constants/Moonbeam.sol
  src/contracts/chain-constants/Moonriver.sol
  src/contracts/chain-constants/Optimism.sol
  src/contracts/chain-constants/Polygon.sol
  src/contracts/chain-constants/PolygonzkEVM.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt
