Repository FraxFinance/frax-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.json --write, forge fmt

fix build
  scripts/constants/fraxtal-l2.ts
  scripts/constants/mainnet.ts
  src/contracts/chain-constants/Mainnet.sol
  src/test/BaseTest.t.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

update fxs timed locker address
  scripts/constants/fraxtal-l2.ts
Due: prettier --config ./.prettierrc.json --write

Update Additional Addresses + Standardize Variable Names
  scripts/constants/fraxtal-l2.ts
  scripts/constants/mainnet.ts
  src/contracts/chain-constants/FraxtalL2.sol
  src/contracts/chain-constants/Mainnet.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Standardize Oracle Variable Names Across Chains
  scripts/constants/mainnet.ts
  src/contracts/chain-constants/Mainnet.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

chore: update deps
  package.json
  pnpm-lock.yaml
  src/test/Counter/TestSetNumber.t.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Update package.json version
  package.json
Due: prettier --config ./.prettierrc.json --write

build: upgrade frax-standard-solidity 1.1.0 => 1.1.3
  package.json
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc.json --write

build: enable ffi and write
  foundry.toml
Due: none

ci: allow empty commits
  .husky/pre-commit
Due: none

fix: env
  .github/workflows/main.yml
Due: prettier --config ./.prettierrc.json --write

chore: rm outdate test files
  src/test/BaseTest.t.sol
  src/test/Counter/TestIncrement.t.sol
  src/test/Counter/TestSetNumber.t.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

build: update
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc.json --write

Update .github/workflows/main.yml
  .github/workflows/main.yml
Due: prettier --config ./.prettierrc.json --write

build: frax-std-solidity v1.1.4
  package.json
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc.json --write

main.yml: add fraxtal rpc
  .github/workflows/main.yml
Due: prettier --config ./.prettierrc.json --write

tsconfig: add scripts check
  tsconfig.json
Due: prettier --config ./.prettierrc.json --write

add: copilot ignore file
  .copilotignore
Due: none

add: claude settings
  .claude/settings.json
Due: prettier --config ./.prettierrc.json --write

add: claude workflow
  .github/workflows/claude.yml
Due: prettier --config ./.prettierrc.json --write

add: codexignore
  .codexignore
Due: none

Update .github/workflows/claude.yml
  .github/workflows/claude.yml
Due: prettier --config ./.prettierrc.json --write

fix: target PRs to master
  .github/workflows/claude.yml
Due: prettier --config ./.prettierrc.json --write

fix: tighten permissions
  .claude/settings.json
Due: prettier --config ./.prettierrc.json --write

fix: deny
  .claude/settings.json
Due: prettier --config ./.prettierrc.json --write

add: ignore claude co-authorship
  .claude/settings.json
Due: prettier --config ./.prettierrc.json --write

Bump version from 1.3.3 to 1.4.0
  package.json
Due: prettier --config ./.prettierrc.json --write

fix(ci): pnpm workspace
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/script/DeployCounter.s.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

fix(ci): remove pnpm-workspace.yaml, move onlyBuiltDependencies to package.json
  package.json
  pnpm-workspace.yaml
Due: prettier --config ./.prettierrc.json --write

ci: rm claude workflow
  .github/workflows/claude.yml
Due: prettier --config ./.prettierrc.json --write

test: add full test coverage for Counter.sol
  src/test/Counter/Counter.t.sol
Due: prettier --config ./.prettierrc.json --write, forge fmt

Path conditions:
  prettier --config ./.prettierrc.json --write: (any of: *.{js,json,ts,yaml,yml}) or (any of: *.sol)
  forge fmt: any of: *.sol
